.todoContainer {
  height: 72%;
  min-width: 300px;
  max-width: 600px;
  overflow: auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(3px);
  background-color: var(--color-background-light);
  border: 2px solid;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border: none;
  margin: 50px 10px 10px 10px;
}

.todoContent {
  height: 100%;
  display: flex;
  flex-direction: column;
}
